*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  flex-direction: column;

  /* Background */
  background-image: url('image_background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
}

#video, #canvas {
  border: 1px solid #ccc;
  max-width: 100%;
  height: auto;
}

.slider-control {
  text-align: center;
  font-size: 16px;
}

input[type="range"] {
  width: 300px;
}

.video-buttons {
  text-align: center;
  margin-bottom: 10px;
}

.video-buttons button {
  margin: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
